# List all files and directories that shouldn't be tracked.
# 5ef443e778f41c4f75c69459eea6e6ae0c2d92de729aa0fc61653815fbd6a8ca
*.bak
**/__pycache__
**/old/
*.swp
*.py[cod]
**/backup

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover
.hypothesis/
.coveralls.yml

# dotenv
.env

# virtualenv
venv/
ENV/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# editor
.idea

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
